launch/launch_old.py
models
resource

# generic
build/
install/
log/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.egg-info/
*.egg
*.venv/
.venv/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
catkin_generated/
devel/
.catkin_tools/

msg_gen/
srv_gen/
action_gen/
generated/
*.pb.cc
*.pb.h

.vscode/

*.swp
*.swo
*.bak
.DS_Store
*.log